<div class="container">
  <div class="row">
    <h2 style="color:white; font-size:20">Customer Reviews</h2>
  </div>
</div>
<div class="carousel-reviews broun-block">
  <div class="container">
    <div class="row">
      <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-md-4 col-sm-6">
              <div class="block-text rel zmin">
                <a title="" href="#">Woman Clothes</a>
                <div class="mark">My rating:
                  <span class="rating-input">
                    <span data-value="0" class="glyphicon glyphicon-star"></span>
                    <span data-value="1" class="glyphicon glyphicon-star"></span>
                    <span data-value="2" class="glyphicon glyphicon-star"></span>
                    <span data-value="3" class="glyphicon glyphicon-star"></span>
                    <span data-value="4" class="glyphicon glyphicon-star"></span>
                    <span data-value="5" class="glyphicon glyphicon-star"></span>
                  </span>
                </div>
                <p>I am buying clothes very often , i need a place with big variety of them . I found it here :)</p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel">
                <%= image_tag "1.jpg", :style => "width:65px;height:70px;" %>
                <a title="" href="#">Sweta</a>
                <i>from indore, India</i>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#">Travel Accessories</a>
                <div class="mark">My rating:
                  <span class="rating-input">
                    <span data-value="0" class="glyphicon glyphicon-star"></span>
                    <span data-value="1" class="glyphicon glyphicon-star"></span>
                    <span data-value="2" class="glyphicon glyphicon-star"></span>
                    <span data-value="3" class="glyphicon glyphicon-star"></span>
                    <span data-value="4" class="glyphicon glyphicon-star"></span>
                    <span data-value="5" class="glyphicon glyphicon-star-empty"></span>
                  </span>
                </div>
                <p>I am a traveling guy , so i contacted with India Cart company for some high quality stuff . And guess what , they where fast and helpful . Definitely i am gonna shop from here again.
                </p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel">
                <%= image_tag "2.jpg", :style => "width:65px;height:70px;" %>
                <a title="" href="#">Shubham</a>
                <i>India</i>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
              <div class="block-text rel zmin">
                <a title="" href="#">Toys</a>
                <div class="mark">My rating:
                  <span class="rating-input">
                    <span data-value="0" class="glyphicon glyphicon-star"></span>
                    <span data-value="1" class="glyphicon glyphicon-star"></span>
                    <span data-value="2" class="glyphicon glyphicon-star"></span>
                    <span data-value="3" class="glyphicon glyphicon-star"></span>
                    <span data-value="4" class="glyphicon glyphicon-star"></span>
                    <span data-value="5" class="glyphicon glyphicon-star"></span>
                  </span>
                </div>
                <p>Definitely i recommend this shop!
                </p>
                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
              </div>
              <div class="person-text rel">
                <%= image_tag "3.jpg", :style => "width:65px;height:70px;" %>
                <a title="" href="#">Manish</a>
                <i>India</i>
              </div>
            </div>
          </div>

        </div>
        <!-- <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a> <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span> </a> -->
      </div>
    </div>
  </div>
